{% extends "layout.html" %}

{% block title %}
    Register Page
{% endblock %}

{% block main %}
    <form action="/register" method="post">
        <div>
            <input name="username" placeholder="Username" type="text">
        </div>
        <div>
            <input name="password" placeholder="Password" type="password">
        </div>
        <div>
            <input name="confirmation" placeholder="Confirmation" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Register</button>
    </form>
{% endblock %}